body{
    background-color: rgb(252, 226, 240);
    text-align: center;
    justify-content: center;
}

#title{
    color: cadetblue;
    font-size: 40px;
}

#resultOfExercise{
    color: slategray;
    font-size: 25px;
}

#exerciseButton{
    border-radius: 5px;
    font-size: 30px;
    border: 3px solid cadetblue;
    color: cadetblue;
}