body{
    background-color: rgb(252, 226, 240);
    text-align: center;
    justify-content: center;
}

#title{
    color: cadetblue;
    font-size: 40px;
}

#result{
    color: slategray;
    font-size: 25px;
}